@import url("fonts.css");

* {
    box-sizing: border-box;
}

body {
    background-image: -moz-linear-gradient(top, hsla(0,0%,0%,0.1), hsla(0,0%,0%,0.9)), url("../img/pull-1.jpg");
    background-image: -webkit-linear-gradient(top, hsla(0,0%,0%,0.1), hsla(0,0%,0%,0.9)), url("../img/pull-1.jpg");
    background-image: -ms-linear-gradient(top, hsla(0,0%,0%,0.1), hsla(0,0%,0%,0.9)), url("../img/pull-1.jpg");
    background-image: linear-gradient(top, hsla(0,0%,0%,0.1), hsla(0,0%,0%,0.9)), url("../img/pull-1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    margin: 0 auto;
    font-family: "Work Sans", sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: hsl(0, 0%, 90%);
}

/* mobile browsers don't support background-attachment: fixed; */
@media (min-width: 600px) {
    body {
        background-attachment: fixed;
    }
}

a {
    color: hsl(0, 0%, 90%);
}

html, body {
    height: 100%;
}

.section {
    min-height: calc(100% + 90px);
    padding: 0 20px 20px 20px;
}

h2 {
    text-transform: uppercase;
    border-bottom: 1px solid;
    font-size: 28px;
    display: inline-block;
    padding-top: 75px;
}

p {
    margin: 15px 0;
}

/* navigation bar *****************************************************************************************************/
.navigation {
    background-color: rgb(126, 114, 82);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
/*    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12); */
}

/* menu bar */
.navigation ul {
    max-width: 1012px;
    margin: 0 auto;
    padding-left: 0;
}

/* menu items */
@media (max-width: 600px) {
    .navigation li:not(:first-child) {
        display: none;
    }

    #toggle:checked ~ ul li {
        display: block;
    }
}

@media (min-width: 600px) {
    .navigation li {
        display: inline-block;
    }
}

.navigation label {
    display: inline-block;
}

.navigation a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    padding: 5px;
}

@media (min-width: 600px) {
    .navigation a, .navigation label {
        width: unset;
    }
}

.navigation a:hover, .navigation li:hover {
    background-color: hsl(240, 70%, 40%);
}

#toggle-label {
    display: inline-block;
    top: 5px;
    right: 15px;
}

/* menu icon */
@media (max-width: 600px) {
    #toggle + label {
        display: block;
        color: hsl(60, 95%, 75%);
        text-align: right;
        float: right;
        position: fixed;
    }
}

@media (min-width: 600px) {
    #toggle + label {
        display: none;
    }
}

#toggle:checked + label {
    color: hsl(60, 82%, 62%);
}

/* menu icon checkbox */
#toggle {
    display: none;
}

/* page ***************************************************************************************************************/

.page {
    position: relative;
    top: calc(1.4em + 10px);
    height: calc(100% - 1.4em - 10px);
    text-align: center;
}

/* banner *************************************************************************************************************/

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
}

.banner h2 {
    border-top: 1px solid;
    padding-top: 0px;
}

.banner .hero {
    width: 90%;
    margin: 0 auto;
    color: white;
    background-color: transparent;
}

@media (min-width: 650px) {
    .banner .hero {
        width: 650px;
/*        background-color: hsla(0, 0%, 0%, 0.6); */
    }
}

/* about **************************************************************************************************************/

.section-about {
    background-color: hsla(0, 0%, 20%, 0.9);
}

.keywords ul, .team ul {
    text-align: left;
    width: 355px;
    max-width: 100%;
    padding-left: 0;
    margin: auto;
}

.keywords li, .team li {
    list-style: none;
    display: flex;
    align-items: center;
}

.keywords .automotive {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    display: inline-block;
    color: hsl(120, 90%, 70%);
    font-size: 36px;
    margin-right: 15px;
}

.keywords .insurance {
    display: inline-block;
    color: hsl(0, 90%, 60%);
    font-size: 36px;
    margin-right: 15px;
    margin-left: 3px;
}

.keywords .logistics {
    display: inline-block;
    color: hsl(60, 95%, 75%);
    font-size: 36px;
    margin-right: 10px;
}

.team img {
    width: 100px;
    border-radius: 50%;
    border: 2px solid;
    margin: 10px 10px 10px 0;

}

/* impressum **********************************************************************************************************/

.section-impressum {
    background-color: hsl(60, 82%, 95%);
    color: hsl(0, 0%, 20%);
    font-size: 18px;
}

@media (min-width: 600px) {
    .section-impressum {
        background-image: -moz-linear-gradient(top, hsla(0,0%,100%,0.95), hsla(0,0%,100%,0.85)), url("../img/favicon.svg");
        background-image: -webkit-linear-gradient(top, hsla(0,0%,100%,0.95), hsla(0,0%,100%,0.85)), url("../img/favicon.svg");
        background-image: -ms-linear-gradient(top, hsla(0,0%,100%,0.95), hsla(0,0%,100%,0.85)), url("../img/favicon.svg");
        background-image: linear-gradient(top, hsla(0,0%,100%,0.95), hsla(0,0%,100%,0.85)), url("../img/favicon.svg");
        background-attachment: fixed;
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.section-impressum a {
    color: hsl(0, 0%, 20%);
}

.section-datenschutz {
    background-color: hsla(0, 0%, 20%, 0.9);
    font-size: 18px;
}

@media (min-width: 600px) {
    .section-datenschutz {
        background-color: unset;
    }
}

/* footer *************************************************************************************************************/

.footer {
    background-color: hsl(0, 0%, 20%);
    position: relative;
    padding: 35px 0;
}

.footer div {
    max-width: 1012px;
    margin: auto;
    text-align: left;
}

.footer div > * {
    display: block;
    vertical-align: top;
}

@media (min-width: 600px) {
    .footer div > * {
        display: inline-block;
    }
}

.footer ul {
    text-align: left;
    padding-left: 40px;
    margin: 0;
    line-height: 1.5;
    font-weight: 400;
    font-size: smaller;
}

.footer li {
    list-style: none;
}

.footer a {
    text-decoration: none;
}